<!-- jQuery Version 1.11.0 -->
<script src="{{ "{{ site.baseurl }}/js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "{{ site.baseurl }}/js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "{{ site.baseurl }}/js/jquery.easing.min.js" }}"></script>
<script src="{{ "{{ site.baseurl }}/js/classie.js" }}"></script>
<script src="{{ "{{ site.baseurl }}/js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "{{ site.baseurl }}/js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ "{{ site.baseurl }}/js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ "{{ site.baseurl }}/js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ "{{ site.baseurl }}/js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}

<script>
    function expandImage(imageElement) {
        // Create the overlay element
        var overlay = document.createElement('div');
        overlay.classList.add('expanded-image-overlay');

        // Create the expanded image element
        var expandedImage = document.createElement('img');
        expandedImage.src = imageElement.src;
        overlay.appendChild(expandedImage);

        // Create the description element
        var description = document.createElement('div');
        description.classList.add('description');
        description.innerHTML = imageElement.getAttribute('data-description');
        overlay.appendChild(description);

        // Create the close button
        var closeButton = document.createElement('button');
        closeButton.classList.add('close-button');
        closeButton.innerHTML = 'Close';
        closeButton.onclick = function () {
            document.body.removeChild(overlay);
        };
        overlay.appendChild(closeButton);

        // Add the overlay to the body
        document.body.appendChild(overlay);

        // Show the overlay
        overlay.style.display = 'flex';
    }
</script>