<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 green-background">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-header-custom">
                  <img src="{{ site.baseurl }}{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                  <h3>{{ post.title }}</h3>
                  <hr class="dark-green-line">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {% if post.description %}
            <p class="modal-description">{{ post.description }}</p>
            {% endif %}
            {% if post.img1 %}
            <div class="modal-header-custom img1-container">
              <img src="{{ site.baseurl }}{{ post.img1 }}" class="img-responsive img-centered custom-img1-size" alt="{{ post.alt }}">
            </div>
            {% endif %}                       
            {% if post.description1 %}
            <p class="modal-description">{{ post.description1 }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <!-- MP4 Video Section -->
            {% if post.mp4-video %}
            <h3>{{ post.mp4-title }}</h3>
            <div class="video-container">
              <video controls>
                <source src="{{ site.baseurl }}/{{ post.mp4-video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            {% endif %}
            <!-- YouTube Video Section -->
            {% if post.youtube-video-id %}
            <h3>{{ post.youtube-title }}</h3>
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/{{ post.youtube-video-id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endif %}
            <!-- Gallery Section -->
            {% if post.gallery %}
            <div class="gallery-container">
              <h3 class="text-uppercase">Project Gallery</h3>
              <div class="row">
                {% for item in post.gallery %}
                <div class="col-md-4">
                  <img src="{{ site.baseurl }}/{{ item.image }}" class="img-fluid gallery-item" alt="" data-description="{{ item.description }}" onclick="expandImage(this)">
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<style> 
/* Extend the green background */
.green-background {
  background-color: #{{site.color.primary}};
  padding: 20px 0; /* Optional: Add padding for better aesthetics */
}

/* Align the descriptive text to the left and make it wider */
.modal-description {
  text-align: left;
  width: 100%; /* You can adjust this value as needed */
  max-width: 800px; /* Set a max width for readability */
  margin: 0 auto; /* Center align the text block */
}


/* Ensure the modal content is not constrained by the bootstrap classes */
.modal-content {
  max-width: 100%;
}

.modal-body img {
  display: block;
  margin: 0 auto;
}

/* Override Bootstrap container width to make it full width */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Add this rule at the end */
.modal-header-custom img {
    border-radius: 40px; /* Adjust the value to your preference */
}

/* Custom styles for the horizontal line */
.dark-green-line {
  border: 0;
  height: 1px; /* Adjust height as needed */
  background-color: #{{site.color.secondary-dark}}; /* Dark green color */
  margin: 10px 0; /* Margin to give space around the line */
}

/* Custom styles for img1 */
.custom-img1-size {
  max-width: 50%; /* Adjust this value to your preference */
  width: auto;
  height: auto;
  margin: 0 auto; /* Center the image */
}

/* Add padding between the description and img1 */
.img1-container {
  padding-top: 20px; /* Adjust the value as needed for more or less space */
}
</style>
