<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 green-background">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-header-custom">
                  <img src="{{ site.baseurl }}{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                  <h3>{{ post.title }}</h3>
                  <hr class="dark-green-line">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            {% if post.description %}
            <div class="modal-description">{{ post.description | markdownify }}</div>
            {% endif %}
            
            {% if post.img1 %}
            <div class="modal-header-custom img1-container">
              <img src="{{ site.baseurl }}{{ post.img1 }}" class="img-responsive img-centered custom-img1-size" alt="{{ post.alt }}">
            </div>
            {% endif %}                       
            {% if post.description1 %}
            <p class="modal-description">{{ post.description1 }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <!-- MP4 Video Section -->
            {% if post.mp4-video %}
            <h3>{{ post.mp4-title }}</h3>
            <div class="video-container">
              <video controls>
                <source src="{{ site.baseurl }}/{{ post.mp4-video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            {% endif %}
            <!-- YouTube Video Section -->
            {% if post.youtube-video-id %}
            <h3>{{ post.youtube-title }}</h3>
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/{{ post.youtube-video-id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endif %}
<!-- Gallery Section -->
{% if post.gallery %}
<div class="custom-gallery-container">
  <h3 class="text-uppercase">Gallery With Further Details</h3>
  <div class="row">
    {% for item in post.gallery %}
    <div class="col-md-4">
      <div class="custom-gallery-item">
        <div class="image-label">{{item.label}}</div>
        <img src="{{ site.baseurl }}/{{ item.image }}" class="img-fluid custom-gallery-img" alt="{{ item.description }}" data-description="{{ item.description }}" onclick="expandImage(this)">
      </div>
    </div>
    
     
    {% endfor %}
  </div>
</div>
{% endif %}

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Screenshot Modal Structure -->
<div id="screenshotModal" class="screenshot-modal">
    <span class="close-button">&times;</span>
    <img class="modal-content" id="expandedScreenshot">
    <div id="imageDescription"></div>
</div>

<style>

/* Custom Gallery Item */
.custom-gallery-item {
    position: relative;
    border-radius: 40px; /* Rounded corners */
    overflow: hidden; /* Ensure content stays within rounded corners */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Custom Gallery Image */
.custom-gallery-img {
    width: 100%;
    height: auto;
    border-radius: inherit; /* Inherit the rounded corners from the container */
    aspect-ratio: 16 / 10; /* Ensures 16:10 aspect ratio */
    object-fit: cover;
}

/* Image Label Styling */
.image-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
    color: #{{site.color.secondary}}; /* Dark green text color */
    padding: 15px 0; /* Increase padding to add height to the label */
    text-align: center; /* Center the text */
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 40px; /* Match the rounded corners */
    border-top-right-radius: 40px; /* Match the rounded corners */
    z-index: 1;
    pointer-events: none; /* Ensure the label doesn’t interfere with image clicks */
    box-sizing: border-box;
    text-transform: uppercase; /* Make the text uppercase */
}


/* Hover Effect */
.custom-gallery-item:hover {
    transform: scale(1.1); /* Expands the entire container on hover */
}

/* Custom styling for the close button */
.btn.btn-default {
    background-color: #{{site.color.secondary}}; /* Dark green color */
    color: white; /* Ensure the text is visible on the dark green background */
    border-color: #{{site.color.secondary}}; /* Optional: Set the border color to match the background */
}

/* Hover effect for the close button */
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
    background-color: #{{site.color.secondary}}; /* A slightly darker green for the hover state */
    border-color: #{{site.color.secondary}}; /* Matching border color on hover */
    color: white; /* Keep the text white on hover */
}


</style>