<!-- Project Info Section -->
<header>
    <!-- Banner Image -->
    <div class="banner-image-wrapper">
        <div class="banner-image"
            style="background-image: url('{{ site.baseurl }}/img/portfolio/myfirstcompiler/pexels-pixabay-207580.jpg');">
        </div>
    </div>

    <!-- Heading Section -->
    <section style="margin-bottom: 0; padding-bottom: 0;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sparkly Capybara</h2>
                <hr class="star-dark" style="margin-top: 10px; margin-bottom: 10px;">
            </div>
        </div>
    </section>

    <h4>My First Language</h4>

    <!-- Inserted Image -->
    <div class="text-center">
        <img src="{{ site.baseurl }}/img/portfolio/myfirstlanguage/SparklyCapybaraLogo_Small.png" alt="Sparkly Capybara Logo" style="margin-top: 10px; margin-bottom: 20px;">
    </div>

    <div class="projects-container" style="margin-top: 0; padding-top: 0;">
        <div class="row">
            <div class="col-lg-12">
                <div class="projects-intro-text" style="margin-top: 20px;">
                    <div class="project-content">
                        <!-- Info Text Column -->
                        <div class="info-column">
                            <h4 class="info-title">Quick Info</h4>
                            <ul class="info-list">
                                <li><strong>Github Link:</strong> <a
                                        href="https://github.com/MiroBro/SparklyCapybara"
                                        target="_blank" style="color: white; font-weight: bold;">LINK</a></li>
                                <li><strong>Project Type:</strong> Programming Language</li>
                                <li><strong>Role:</strong> Developer</li>
                                <li><strong>Status:</strong> In Development</li>
                                <!-- Add more details as needed -->
                            </ul>
                        </div>
                        <!-- Description Column -->
                        <div class="description-column">
                            <span class="projects-skills" style="margin-bottom: 30px; display: block;">
                                Working on this with the help of the very kind and knowledgable <a
                                    href="https://github.com/SavourySnaX" target="_blank"
                                    style="color: white; font-weight: bold;">SavourySnaX</a>, which is very cool!
                                <br> <br>The language is supposed to be used in a custom compiler eventually, and the purpose is to learn more about low code, compilers, assembly and languages.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
