<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 style="margin-bottom: 30px;">Games and Code</h3>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      {% if post.projectcategory == "portfolio" %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ post.internalurl | prepend: site.baseurl }}" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-container">
            <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
            <div class="portfolio-date"><h6>{{ post.project-date }}</h6></div>
            <div class="portfolio-caption"><h4>{{ post.project-title }}</h4></div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>



<!-- Ensure no extra elements are within your new section -->
<section id="other-work">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 style="margin-bottom: 30px; margin-top: -80px;">Other work</h3>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      {% if post.projectcategory == "otherwork" %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ post.internalurl | prepend: site.baseurl }}" class="portfolio-link">
          <!-- Ensure no extra icons or images are here -->
          <div class="caption">
            <div class="caption-content">
              <!-- Remove any unwanted icons here -->
            </div>
          </div>
          <div class="image-container">
            <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
            <div class="portfolio-date"><h6>{{ post.project-date }}</h6></div>
            <div class="portfolio-caption"><h4>{{ post.project-title }}</h4></div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

