<!-- Project Info Section -->
<header>
    <!-- Banner Image -->
    <div class="banner-image-wrapper">
        <div class="banner-image" style="background-image: url('{{ site.baseurl }}/img/portfolio/vul/Banner2.png');">
            <!-- Logo Image -->
            <img src="{{ site.baseurl }}/img/portfolio/vul/BannerLogo1.png" alt="Vulpion Logo" class="banner-logo">
        </div>
    </div>

<!-- Embed YouTube Video -->
<div class="video-wrapper">
    <iframe class="responsive-video" src="https://www.youtube.com/embed/fHFSVmhWYvI" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
</div>



    <div class="projects-container">
        <div class="row">
            <div class="col-lg-19">
                <div class="projects-intro-text">
                    <div class="project-content">
                        <!-- Info Text Column -->
                        <div class="info-column">
                            <h4 class="info-title">Quick Info</h4>
                            <ul class="info-list">
                                <li><strong>Project link:</strong> <a href="https://github.com/ChonkyPlonki/Vulpion" target="_blank" style="color: white; font-weight: bold;">Github</a></li>
                                <li><strong>Project Type:</strong> Game</li>
                                <li><strong>Role:</strong> Solo project</li>
                                <li><strong>Game Engine:</strong> Unity</li>
                                <li><strong>Status:</strong> Not Completed</li>
                                <!-- Add more details as needed -->
                            </ul>
                        </div>
                        <!-- Description Column -->
                        <div class="description-column">
                            <span class="projects-skills">
                                <b>VULPION</b> is a curious exploration game I developed over 2 years (between 2019 and 2021). You play as a "Vulp", a fox-like person that dropped into the world "naked, compassionate and free".
                                I overscoped and unfortunately never finished the project - but I love the project dearly! 
                                <br>
                                <br>I may yet pick it up again, but at the time I summarized the vision of the game as follows:
                                <br>
                                <br> <i>Press your feet into sun-kissed spores and ruffled lands. Open up to a psychologist and practice social skills to bond with others. Gift your heart to orphan animals and build homes for them. Bake bread, make tea and throw dinner parties as you thunder across the land. Show kindness, be vulnerable. Become a harbinger of goodness.</i>
                                <br> <br> See more details below!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Selected Screenshots Section (Moved here) -->
<section class="selected-screenshots">
    <div class="container">
        <h2 class="section-title">Selected Screenshots</h2>
        <div class="screenshot-grid">
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 3.png" alt="Screenshot 1" class="screenshot-trigger">
            </div>
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 7.png" alt="Screenshot 2" class="screenshot-trigger">
            </div>
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 6.png" alt="Screenshot 3" class="screenshot-trigger">
            </div>
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 8.png" alt="Screenshot 4" class="screenshot-trigger">
            </div>
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 4.png" alt="Screenshot 5" class="screenshot-trigger">
            </div>
            <div class="screenshot-item">
                <img src="{{ site.baseurl }}/img/portfolio/vul/Screenshot 2.png" alt="Screenshot 6" class="screenshot-trigger">
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">
        <!-- Portfolio Grid Title -->
        <h2 class="portfolio-grid-title">More About Vulpion</h2>
        <div class="row"></div>
        <div class="portfolio-flex-row">
            {% for post in site.posts %}
            {% if post.projectcategory == "vulpion" %}
            <div class="portfolio-flex-item portfolio-item">
                <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="image-container">
                        <img src="{{ site.baseurl }}{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        <div class="project-portfolio-caption">
                            <h4>{{post.project-title}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>



<!-- Portfolio Modal Structure -->
<div id="portfolioModal-{{ post.modal-id }}" class="portfolio-modal">
    <div class="portfolio-modal-content">
        <span class="portfolio-close-button">&times;</span>
        <!-- Portfolio content goes here -->
    </div>
</div>

<!-- Screenshot Modal Structure -->
<div id="screenshotModal" class="screenshot-modal">
    <span class="miro-close-button">&times;</span>
    <img class="modal-content" id="expandedScreenshot">
    <div id="imageDescription"></div>
</div>


<script>
    document.addEventListener('scroll', function () {
        var scrolled = window.pageYOffset || document.documentElement.scrollTop;
        var bannerImage = document.querySelector('.banner-image');
        bannerImage.style.transform = 'translateY(' + (scrolled * 0.5) + 'px)';
    });

    // Portfolio Modal Logic
    document.querySelectorAll('.portfolio-link').forEach(function(element) {
        element.addEventListener('click', function(event) {
            event.preventDefault();
            var modalId = this.getAttribute('href');
            document.querySelector(modalId).style.display = 'block';
        });
    });

    document.querySelectorAll('.portfolio-close-button').forEach(function(element) {
        element.addEventListener('click', function() {
            this.closest('.portfolio-modal').style.display = 'none';
        });
    });

    // Screenshot Modal Logic
    document.querySelectorAll('.screenshot-trigger').forEach(function(element) {
        element.addEventListener('click', function() {
            var modal = document.getElementById('screenshotModal');
            var modalImg = document.getElementById('expandedScreenshot');
            var descriptionText = document.getElementById('imageDescription');

            modal.style.display = 'block';
            modalImg.src = this.src;
            descriptionText.innerHTML = this.alt;
        });
    });

    document.querySelector('.screenshot-modal .miro-close-button').addEventListener('click', function() {
        document.getElementById('screenshotModal').style.display = 'none';
    });
</script>
