
.project-portfolio-caption {
    position: absolute;
    top: 0; /* Align the caption to the top of the image */
    left: 0;
    right: 0;
    background-color:rgba(245, 255, 244, 0.7); /* Adjust color and transparency as needed */
    color: #{{site.color.secondary}};
    padding: 10px;
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.project-portfolio-item:hover .portfolio-caption {
    opacity: 1;
    visibility: visible;
  }

/* Banner Image Styles */
.banner-image-wrapper {
    position: relative;
    text-align: center;
    height: 360px; /* Adjust the height as needed */
    overflow: hidden;
    background: #000; /* Fallback color for better visual appearance */
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Match the height of the wrapper */
    background-size: cover; /* Maintain aspect ratio while covering the container */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.banner-logo {
    position: absolute;
    bottom: -25px; /* Adjust to move the logo up or down */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: auto; /* Maintain aspect ratio */
    max-width: 450px; /* Adjust size if needed */
    height: auto; /* Maintain aspect ratio */
}

/* Other styles remain unchanged */

header .projects-container {
    padding-top: 0 !important; /* Override the padding-top in main.css */
    padding-bottom: 50px; /* Adjust as needed */
}

header .projects-intro-text {
    text-align: center;
    padding-top: 45px; /* Adjust top padding */
    padding-bottom: 0px; /* Adjust bottom padding */
    margin-top: 0; /* Remove any default margin */
    margin-bottom: 0; /* Remove any default margin */
}

.projects-skills {
    font-size: 1.25em;
    font-weight: 300;
}

/* Custom CSS for projects header */
.projects-container {
    padding: 0 15px; /* Adjust padding as needed */
    margin: 0 auto;
    max-width: 1600px; /* Set max width if needed */
}

/* Custom CSS to align content */
.project-content {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: flex-start;
    position: relative;
    max-width: 1600px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the content */
}

.info-column {
    flex: 0 0 220px; /* Fixed width for info-column */
    text-align: left;
    padding-right: 20px; /* Space between info-column and description */
    padding-left: 10px;
}

.info-title {
    font-size: 1.2em;
    margin-bottom: 10px; /* Space below the title */
    font-weight: bold;
}

.info-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.info-list li {
    background-color: rgba(16, 51, 5, 0.1); /* Faded background with low alpha */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin-bottom: 10px; /* Adjust spacing between list items */
    font-size: 1em;
    font-weight: 300;
}

.details-list-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust space between details list and description */
}

.details-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.details-list li {
    list-style: none;
    margin: 0 5px; /* Adjust space between list items */
}

.description-column {
    flex: 1; /* Takes the remaining space */
    text-align: left;
    max-width: 1000px;
    padding-right: 20px;
    padding-left: 20px; /* Adjust the space between details and description if needed */
}

.intro-text {
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project-content {
        flex-direction: column; /* Stack columns vertically on small screens */
        align-items: center; /* Center align items */
    }

    .info-column {
        width: 100%; /* Full width on small screens */
        padding-right: 0; /* Remove right padding */
        margin-bottom: 10px; /* Reduce space below info-column */
        text-align: center; /* Center align text */
    }

    .description-column {
        max-width: 100%; /* Full width on small screens */
        padding-left: 0; /* Remove left padding */
        text-align: center; /* Center align text */
    }
}

.image-container {
    border-radius: 40px; /* Adjust the value to your preference */
}

/* Portfolio Image Styles */
.image-container img {
    border-radius: 40px; /* Adjust the value to your preference */
    border: 10px solid #{{site.color.primary}}; /* Add 10px green border */
}

/* Reduce Padding Between Sections */
#portfolio {
    margin-top: 10px; /* Reduce the space above the "More" section */
    padding-bottom: 0px; /* Reduce padding below portfolio grid */
}

/* Portfolio Grid Section Title */
.portfolio-grid-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Selected Screenshots Section */
.selected-screenshots {
    padding-top: 30px; /* Reduce top padding */
    padding-bottom: 0px; /* Decrease padding at the bottom */
    text-align: center;
}

.selected-screenshots h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.screenshot-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshot-item {
    flex: 0 1 calc(50% - 20px); /* Two columns */
    margin: 10px;
}

.screenshot-item img {
    width: 100%;
    border-radius: 10px; /* Optional: rounded corners */
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

#imageDescription {
    margin: 15px auto;
    padding: 10px 20px;
    max-width: 80%; /* Restrict width */
    background-color: #{{site.color.secondary-dark}};
    border-radius: 10px; /* Rounded corners */
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.miro-close-button {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.miro-close-button:hover,
.miro-close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Screenshot grid image hover */
.screenshot-item img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.screenshot-item img:hover {
    transform: scale(1.05);
}

/* Portfolio Modal Styles */
.portfolio-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10001; /* Ensure it's above other elements but below the screenshot modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #{{site.color.primary}}; /* Opaque green background */
    padding-top: 60px;
}

.portfolio-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.portfolio-close-button {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Screenshot Modal Styles */
.screenshot-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10002; /* Ensure the modal is on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
    padding-top: 60px;
}

.screenshot-modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.screenshot-trigger {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.screenshot-trigger:hover {
    transform: scale(1.05);
}

.miro-close-button {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.miro-close-button:hover,
.miro-close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* BELOW IS THE MODAL STUFF*/

/* Extend the green background */
.green-background {
    background-color: #{{site.color.primary}};
    padding: 20px 0; /* Optional: Add padding for better aesthetics */
  }
  
  /* Align the descriptive text to the left and make it wider */
  .modal-description {
    text-align: left;
    width: 100%; /* You can adjust this value as needed */
    max-width: 800px; /* Set a max width for readability */
    margin: 0 auto; /* Center align the text block */
  }
  
  
  /* Ensure the modal content is not constrained by the bootstrap classes */
  .modal-content {
    max-width: 100%;
    display: block;
    max-width: 80%;
    max-height: 80%;
  }
  
  .modal-body img {
    display: block;
    margin: 0 auto;
  }
  
  /* Override Bootstrap container width to make it full width */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  /* Add this rule at the end */
  .modal-header-custom img {
      border-radius: 40px; /* Adjust the value to your preference */
  }
  
  /* Custom styles for the horizontal line */
  .dark-green-line {
    border: 0;
    height: 1px; /* Adjust height as needed */
    background-color: #{{site.color.secondary-dark}}; /* Dark green color */
    margin: 10px 0; /* Margin to give space around the line */
  }
  
  /* Custom styles for img1 */
  .custom-img1-size {
    max-width: 50%; /* Adjust this value to your preference */
    width: auto;
    height: auto;
    margin: 0 auto; /* Center the image */
  }
  
/* Adjust padding between the description and img1 */
.img1-container {
    padding-top: 20px; /* Adjust the value as needed for more or less space */
    text-align: center; /* Center the image within its container */
}

/* Make the img1 wider */
.img1-container img {
    width: auto; /* Make the image take the full width of its container */
    max-width: 80%; /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners to the image */
}
  
  /* Modal Styles */
  .modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1000; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
      padding-top: 60px;
  }
  
  .modal-content {
      margin: auto;
      display: block;
      max-width: 80%;
      max-height: 80%;
      border-radius: 10px;
  }
  
  #imageDescription {
      text-align: center;
      color: #ccc;
      font-size: 16px;
      margin-top: 10px;
  }
  
  .close-button {
      position: absolute;
      top: 30px;
      right: 35px;
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }
  
  /* Screenshot grid image hover */
  .screenshot-item img {
      cursor: pointer;
      transition: transform 0.2s ease;
  }
  
  .screenshot-item img:hover {
      transform: scale(1.05);
  }
  
  /* Portfolio Modal Styles */
  .portfolio-modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 10001; /* Ensure it's above other elements but below the screenshot modal */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #{{site.color.primary}}; /* Opaque green background */
      padding-top: 60px;
  }
  
  .portfolio-modal-content {
      margin: auto;
      display: block;
      max-width: 80%;
      max-height: 80%;
      border-radius: 10px;
  }
  
  .portfolio-close-button {
      position: absolute;
      top: 30px;
      right: 35px;
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
  }
  
  /* Screenshot Modal Styles */
  .screenshot-modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 10002; /* Ensure the modal is on top of everything */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
      padding-top: 60px;
  }
  
  .screenshot-modal-content {
      margin: auto;
      display: block;
      max-width: 80%;
      max-height: 80%;
      border-radius: 10px;
  }
  
  .screenshot-trigger {
      cursor: pointer;
      transition: transform 0.2s ease;
  }
  
  .screenshot-trigger:hover {
      transform: scale(1.05);
  }
  
  .close-button {
      position: absolute;
      top: 30px;
      right: 35px;
      color: #fff;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
  }
  
  /* Screenshot grid image hover */
  .gallery-item {
      cursor: pointer;
      transition: transform 0.2s ease;
  }
  
  .gallery-item:hover {
      transform: scale(1.05);
  }
  
/* Description Box Style */
.expanded-image-overlay .description {
    color: #ffffff;
    background-color: #{{site.color.secondary-dark}}; /* Dark green with opacity */
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    width: fit-content;
    word-wrap: break-word;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

  /* Video Wrapper Styles */
  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0px 0; /* Adjust padding as needed */
}

/* Responsive Video Styles */
.responsive-video {
    aspect-ratio: 16 / 10;
    width: 100%;
    max-width: 1000px; /* Maximum width for large screens */
    border: 10px solid #{{site.color.secondary-dark}};
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* For responsiveness, make sure the iframe scales properly */
@media (max-width: 1024px) {
    .responsive-video {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .responsive-video {
        max-width: 100%;
    }
}

/* Hover effect for icons in the "MORE" section */
.portfolio-flex-item .image-container img {
    transition: transform 0.3s ease-in-out;
    background-color: #{{site.color.secondary}}; /* Dark green background color */
}

.portfolio-flex-item .image-container img:hover {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
}



/* Custom Gallery Item */
.custom-gallery-item {
    position: relative;
    border-radius: 40px; /* Rounded corners */
    overflow: hidden; /* Ensure content stays within rounded corners */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Custom Gallery Image */
.custom-gallery-img {
    width: 100%;
    height: auto;
    border-radius: inherit; /* Inherit the rounded corners from the container */
    aspect-ratio: 16 / 10; /* Ensures 16:10 aspect ratio */
    object-fit: cover;
}

/* Image Label Styling */
.image-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
    color: #{{site.color.secondary}}; /* Dark green text color */
    padding: 15px 0; /* Increase padding to add height to the label */
    text-align: center; /* Center the text */
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 40px; /* Match the rounded corners */
    border-top-right-radius: 40px; /* Match the rounded corners */
    z-index: 1;
    pointer-events: none; /* Ensure the label doesn’t interfere with image clicks */
    box-sizing: border-box;
    text-transform: uppercase; /* Make the text uppercase */
}


/* Hover Effect */
.custom-gallery-item:hover {
    transform: scale(1.1); /* Expands the entire container on hover */
}

/* Custom styling for the close button */
.btn.btn-default {
    background-color: #{{site.color.secondary}}; /* Dark green color */
    color: white; /* Ensure the text is visible on the dark green background */
    border-color: #{{site.color.secondary}}; /* Optional: Set the border color to match the background */
}

/* Hover effect for the close button */
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
    background-color: #{{site.color.secondary}}; /* A slightly darker green for the hover state */
    border-color: #{{site.color.secondary}}; /* Matching border color on hover */
    color: white; /* Keep the text white on hover */
}



