<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
    {% include nav.html %}

  <!-- Portfolio Section -->
  <section style="background-color: #{{site.color.primary}}; color: #{{site.color.secondary}}; padding-top: 50px 0; text-align: center; margin-top: 50px;">
    <div class="container">
      <h2>Projects</h2>
      <p>You’ll find my projects below.</p>
    </div>
  </section>

    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

</body>

</html>

